$break-small: 700px;
$break-row: 350px;
$break-large: 840px;
.repo-header-wrapper{
    width: 96%;
    padding: 10px 2%;
    background: #4CAF50;
    color: #FFF;
    height: 35px; 
    img.logo-mark {
        width: 35px;
        float: left;
    }

    img.logo-light {
        width: 100px;
        float: left;
        margin-top: -4px;
    }

    span {
        line-height: 36px;
        font-size: 25px;
        display: block;
        float: left;
    }
}


.user-wrapper{
        width: 90%;
        height: auto;
        padding: 1% 2%;
        margin-top: 20px;
        border: 1px solid #CECECE;
        margin: 14px auto;background: #F0F0F0;
    .user-avtar{
        float: left;
        width: 20%;
        height: auto;
        margin-right: 5px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .userinfo{
        float: left;
        width: 68%;
        h3{
            float: left; margin-right: 5px;
            color: #4CAF50;
        }
        h4{
            color: #000;
            font-weight: bold;
            font-size: 14px; float: left;    line-height: 31px;
       }
       p{
           font-size: 14px;
           margin: 0;
           padding: 5px;
           padding-left: 0;
       }
       a{
        color: #4CAF50;
        text-decoration: underline;
       }
       .u-flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        li{
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            list-style-type: none;
            padding:5px;
            border: 1px solid #CECECE;margin-right: 5px;
            p.Stats_value{
                font-size: 30px;
            }
            p.Stats_label{
                font-size: 14px;
            }
        }
       }
    }
}


.user-aditional-info{
        width: 90%;
        height: auto;
        padding: 1% 2%;
        margin-top: 20px;
    .repos{
        width:50%;
        float: left;
        .repos-content{
            padding: 5px;

        }
    }
    .followers{
        h3{
            color: #4CAF50;
            text-align: center;
        }
        width:50%;
        float: left;
        .followers-content{
            padding: 5px;
                .user-tile {
                  width: 96%;
                  float: left;
                  border-bottom: 1px solid #4CAF50;
                  margin: 3px;
                  margin-bottom: 10px;
                  padding-bottom:10px;
                  cursor: pointer;outline:none;
                  img {
                    min-width: 70px;
                    height: 70px;
                    float: left;
                  }
          
                  .caption {
                    font-size: 14px;
                    color: #4CAF50;
                    float: left;
                    padding-left: 1%;
                    text-align: left;
                    word-break: break-all;
                  }
          
                  @media screen and (max-width: $break-row) {
                    width: 100%;
                    min-width: 100%;
                  }
          
                  &:hover {
                    background-color: #F0f0f0;
                    transition: 0.3s;
                  }
                }
        }
    }
}