<div class="repo-header-wrapper">
    <div class="header-title">
      <img src="../../assets/GitHub-Mark-Light-64px.png" class="logo-mark" />
      <img src="../../assets/GitHub_Logo_White.png" class="logo-light" />
      <span>User Info</span>
    </div>
</div>
<div class="clear"></div>
<div class="user-wrapper"  *ngIf="userInfo.login">
  <div class="user-avtar">
      <img [src]="userInfo.avatar_url">
  </div>
  <div class="userinfo">
      <h3>{{userInfo.name}}</h3>
      <h4 *ngIf="userInfo.login">@{{userInfo.login}}</h4>
      <div class="clear"></div>
      <p *ngIf="userInfo.location">location: {{userInfo.location}}</p>
      <a *ngIf="userInfo.blog" href="{{userInfo.blog}}" target="_blank">blog : {{userInfo.blog}}</a>
      <p *ngIf="userInfo.company">company: {{userInfo.company}}</p>
      <p *ngIf="userInfo.bio">{{userInfo.bio}}</p>
      <a *ngIf="userInfo.html_url" href="{{userInfo.html_url}}" target="_blank">Git hub</a>
      <div class="clear"></div>
      <ul class="u-flex">
        <li>
          <p class="Stats_value">{{userInfo.followers}}</p>
          <p class="Stats_label">Followers</p>
        </li>
        <li>
          <p class="Stats_value">{{userInfo.following}}</p>
          <p class="Stats_label">Following</p>
        </li>
        <li>
          <p class="Stats_value">{{userInfo.public_repos}}</p>
          <p class="Stats_label">Repos</p>
        </li>
      </ul>
  </div>
  <div class="clear"></div>
</div>


<div class="user-aditional-info" *ngIf="reposInfo.length">
    <div class="repos">
      <div class="repos-content">
        <div *ngFor="let repo of reposInfo" class="repo-tile" [routerLink]="['/repo',repo.id,repo.owner.login,repo.name]">
          <h3 class="title" title="{{repo.name}}"><span class="title-name">{{repo.name}}
            </span>
         </h3>
        <div class="clear"></div>
        <div class="repo-language" *ngIf="repo.language"><span class="repo-language-color"></span><span class="repo-language-txt">{{repo.language}}</span></div>
        <div class="clear"></div>
        <div class="additional-info">
          <span>watch:{{repo.watchers_count}}</span>
          <span>star:{{repo.stargazers_count}}</span>
          <span>fork:{{repo.fork}}</span>
        </div>
        <div class="clear"></div>
        <p>{{repo.description }}</p>
        <div class="clear"></div>

        <div class="additional-info">
          <span>Licence:{{repo.license && repo.license.name || ''}}</span>
          <span>Updated:{{repo.updated_at | date:fullDate}}</span>
        </div>
        </div>
      </div> 
    </div>


    <div class="followers"  *ngIf="followers.length">
      <h3>Followers</h3>
     <div class="followers-content" *ngIf="followers.length">
         <div *ngFor="let user of followers" class="user-tile" [routerLink]="['/user',user.login]">
           <div class="thumbnail">
             <img [src]="user.avatar_url">
             <div class="caption">
               {{user.login}}
             </div>
           </div>
         </div>
     </div>
 </div>
 <div class="clear"></div>
</div>